.promo {
    height: 100vh;
    position: relative;
    background: url('../img/bg/Background_header.jpg') center center / cover no-repeat;
    padding-top: 205px;
    &__title {
        margin-top: 10px;
        margin-bottom: 0;
    }
    &__btns {
        margin-top: 25px;
        width: 248px;
        display: flex;
        justify-content:space-between;
        align-items: center;
    }
    &__link {
        text-decoration: none;
        color: black;
        font-weight: 700;
        font-size: 16px;
        line-height: 21px;
        transition: 0.5s all;
        &:hover {
            color: rgb(0, 0, 0);
            transform: scale(1.05);
        }
    }
    &__subtitle {
        position: relative;
        @include before_circle;
        z-index: 2;
        padding-left: 10px;
    }
}